# <font color=”blue”> Practice 3: Strings, lists, dictionaries and tuples</font>

## Part 1. Strings

#### Exercise 1
Write a program to print a string consists of every second character of the string in reverse order starting from the last one and with the first character in the result string capitalized (the other characters are lowercase)

Example: Input: ```abcdefg```, Output: ```Geca```

In [ ]:
s = input()

##################
# YOUR CODE HERE #
##################

print(s)

#### Exercise 2
In naming convention of some languages, variables are often named using Camel case convention (for example: ArrayOfNumber), while in other languages (including Python), variables are named using Snake case convention (for example: array_of_number)

Write a program to convert a string from Snake case to Camel case

Example: Input: ```array_of_number```, Output: ```ArrayOfNumber```

In [ ]:
s = input()

##################
# YOUR CODE HERE #
##################

print(s)

#### Exercise 3
Write a program to remove all the uneccessary spaces from a string, including leading, trailing whitespaces and multiple whitespaces in the middle of the sentence

For example:\
Input:  
```   
   Hello   World from   Vietnam  
```

Output: 
```
Hello World from Vietnam
```

In [ ]:
s = input()

##################
# YOUR CODE HERE #
##################

print(s)

#### Exercise 4
Write a function that returns the mirror image of a string (contains lowercase characters only) if that mirror image is still a valid string. Otherwise, return "NOT POSSIBLE". 

Note: b,d, i, o, p, q, v, w, x are characters with the mirror images still valid English characters

Example: Input: ```void```, Output: ```biov```

In [ ]:
def mirror(s):

    ##################
    # YOUR CODE HERE #
    ##################

    return s

## Part 2. Tuples, lists and dictionary

### 2.1 Basic tuples, lists and dictionary

#### Exercise 5
Write a function to remove all consecutive duplicates in a list and return the new list

Example:\
Input
```
[1, 0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4, 5, 5]
```
Output
```
[1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5]
```

In [ ]:
def remove_duplicates(l):

    ##################
    # YOUR CODE HERE #
    ##################

    return l

#### Exercise 6
Write a program to read 2 matrices and output their sum. Example:

Input (the first line contains 2 dimensions M * N of each matrix, the next M lines contains the first matrix and the last M lines contains the second matrix)
```
2 3
1 2 3
4 5 6
7 8 9
10 11 12
```
Output
```
8 10 12
14 16 18
```

In [ ]:
temp = input().split(' ')
m, n = int(temp[0]), int(temp[1])

a = []
b = []
for i in range(m):
  a.append(input().split(' '))
for i in range(m):
  b.append(input().split(' '))

##################
# YOUR CODE HERE #
##################

#### Exercise 7
Write a function to sort the list of tuples of students by the students' scores. If they have the same scores, sort the students by their names.

Example:\
Input
```
[('John', 9.75), ('Max', 9.5), ('James', 9.5), ('Henry', 8.5)]
```
Output
```
[('Henry', 8.5), ('James', 9.5), ('Max', 9.5), ('John', 9.75)]
```

Hint: use `sorted` function with key for quick sorting (or implement your own sort function)

In [9]:
def sort_students(l):

    ##################
    # YOUR CODE HERE #
    ##################

    return l

#### Exercise 8
Write a fuction that return a dictionary of each character frequency in the string

In [ ]:
def dictionary_convert(s):

    ##################
    # YOUR CODE HERE #
    ##################

    return {}

### 2.2 List comprehension

#### Exercise 9
Write a function using list comprehension that takes a list as input and return the list with all even numbers doubled, and all odd numbers turned negative

Example:\
Input
```
[32, 56, 99, -40, 20, 78, 43, -61, 61]
```
Output
```
[64, 112, -99, -80, 40, 156, -43, 61, -61]
```

In [ ]:
def transform(l):

    ##################
    # YOUR CODE HERE #
    ##################

    return l

#### Exercise 10
Write a program using list comprehension that print a matrix consists of increasing element (starting from 1), given its dimension. Example:\
Input
```
4 3
```
Output
```
1 2 3
4 5 6
7 8 9
10 11 12
```

In [ ]:
tmp = input().split(' ')
m, n = int(tmp[0]), int(tmp[1])

##################
# YOUR CODE HERE #
##################

#### Exercise 11
Write a program using list comprehension that return the Caesar encryption of a lowercase string, given the shift length. Note: in Caesar encryption, each letter is shifted to the right in the alphabet by a distance (if the end of the alphabet is reached, the shift will start over from letter a/A)

Example:\
Input
```
3
the quick brown fox jumps over the lazy dog
```
Output
```
wkh txlfn eurzq ira mxpsv ryhu wkh odcb grj
```

In [ ]:
n = int(input())
s = input()

##################
# YOUR CODE HERE #
##################

# Homework

#### Exercise 12
Write a function to merge 2 dictionaries

Example:\
Input
```
{'a': 3, 'b': 2, 'c': 1}
{'b': 3, 'c': 2, 'd': 1}
```
Ouput
```
{'a': 3, 'b': 5, 'c': 3, 'd': 1}
```

In [ ]:
def merge_dict(d1, d2):

    ##################
    # YOUR CODE HERE #
    ##################

    return d1

#### Exercise 13
`*args` and `**kwargs` in Python (reference: [W3Schools](https://www.w3schools.com/python/python_functions.asp))

*   `*args`: arbitrary number of arguments in Python function. The function will receive a tuple of arguments, and can access the items accordingly
*   `**kwargs`: arbitrary keywords arguments in Python function. The function will receive a dictionary of arguments, and can access the items accordingly

##### Example

In [ ]:
def summation(*data):
  print("\nData type of argument:",type(data))
  return sum([item for item in data])

summation(1, 2, 3)

Data type of argument: <class 'tuple'>

6

In [ ]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

##### Your task

Write a function to compute the distance between 2 vectors (it is guarantee that the 2 vectors have the same length). Type of distance is a keyword argument, which can be either 'manhattan', 'cosine' (with 9 decimal places), or 'euclidean' (with 9 decimal places). If no type of distance or other type of distance is specified, the distance will be computed with euclidean norm\
Example:
```
vector_distance([1, 2], [4, 6]) -> 5.0
vector_distance([1, 2], [4, 6], norm='manhattan') -> 7
vector_distance([1, 2], [4, 6], norm='cosine) -> 0.992277877
```

In [ ]:
import math 

def vector_distance(v1, v2, **kwargs):

    ##################
    # YOUR CODE HERE #
    ##################